# Pandas part 2

In [1]:
import pandas as pd

In [2]:
movieData = pd.read_csv("movies.csv")       # Dataframes
movieData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [3]:
# Dataframes consists of multiple columns
# one particular column ==> series

In [4]:
ser = movieData["budget"]          # Series
# ser.info()                       # AttributeError

## Numerical Series

In [5]:
ser.head()

0    237000000
1    300000000
2    245000000
3    250000000
4    260000000
Name: budget, dtype: int64

In [6]:
ser.dtype

dtype('int64')

In [7]:
ser.shape

(4803,)

In [8]:
ser.size

4803

In [9]:
ser.describe()

count    4.803000e+03
mean     2.904504e+07
std      4.072239e+07
min      0.000000e+00
25%      7.900000e+05
50%      1.500000e+07
75%      4.000000e+07
max      3.800000e+08
Name: budget, dtype: float64

In [10]:
ser.index

RangeIndex(start=0, stop=4803, step=1)

In [11]:
ser1 = movieData["runtime"]       # <class 'pandas.core.series.Series'>
print(type(ser1))
ser1

<class 'pandas.core.series.Series'>

0       162.0
1       169.0
2       148.0
3       165.0
4       132.0
        ...
4798     81.0
4799     85.0
4800    120.0
4801     98.0
4802     90.0
Name: runtime, Length: 4803, dtype: float64

In [12]:
ser1.sum()

513111.0

In [13]:
ser1.size            # considers nan-Not a Number / not definded / not avaiable

4803

In [14]:
ser1.count()         # doesn't consider nan-Not a Number / not definded / not avaiable

4801

In [15]:
ser1.mean()

106.87585919600083

In [16]:
ser1.std()

22.611934588844207

In [17]:
ser1.median()

103.0

In [18]:
ser1.mode()

0    90.0
dtype: float64

In [19]:
ser1.max()

338.0

In [20]:
ser1.min()

0.0

### Only for series

In [21]:
print(len(ser1.unique()))
ser1.unique()                  # considers nan

157

array([162., 169., 148., 165., 132., 139., 100., 141., 153., 151., 154.,
       106., 149., 143., 150., 136., 144., 140., 161., 113., 187., 194.,
       147., 131., 124., 127., 130., 108., 104., 142., 125., 114., 103.,
       115., 137., 116., 122.,  93.,  98.,  91., 158.,  96., 109., 152.,
        94., 126., 112., 123., 135., 118.,  97., 119., 102., 120., 121.,
       166.,  99., 183., 175., 138., 157.,  92., 101., 111.,  89., 105.,
       107., 129.,  88.,  85., 163., 133.,  95.,  90., 110., 128., 156.,
       117., 146.,  82.,  78., 134., 170.,  76., 178.,  84., 155., 145.,
       180., 172., 167., 201., 179.,  83.,  87.,  80.,  74.,  81., 177.,
        86., 164., 159., 191., 189., 214.,   0.,  75., 192., 160., 219.,
       248., 188., 202., 173., 195.,  77.,  79.,  63., 229., 193., 254.,
        72.,  68., 199., 181., 242., 338.,  73., 216., 276.,  nan, 200.,
        69., 197., 184., 176., 185., 171., 174.,  46.,  53.,  42., 240.,
        41.,  67., 238., 186.,  70.,  14., 225., 207.,  66.,  59.,  25.,
        47.,  64.,  60.])

In [22]:
ser1.nunique()               # doesn't consider nan

156

In [23]:
ser1.nunique(dropna=False)  # considers nan by default dropna=True

157

In [24]:
# movieData.unique()          # AttributeError
movieData.nunique()

budget                   436
genres                  1175
homepage                1691
id                      4803
keywords                4222
original_language         37
original_title          4801
overview                4800
popularity              4802
production_companies    3697
production_countries     469
release_date            3280
revenue                 3297
runtime                  156
spoken_languages         544
status                     3
tagline                 3944
title                   4800
vote_average              71
vote_count              1609
dtype: int64

In [25]:
ser1.value_counts()        # number of times the value is repeated

90.0     163
100.0    149
98.0     140
97.0     133
95.0     123
        ...
338.0      1
53.0       1
214.0      1
194.0      1
179.0      1
Name: runtime, Length: 156, dtype: int64

In [26]:
ser1.value_counts(ascending = True)   # ascending = False (By Default)

179.0      1
194.0      1
214.0      1
53.0       1
338.0      1
        ...
95.0     123
97.0     133
98.0     140
100.0    149
90.0     163
Name: runtime, Length: 156, dtype: int64

In [27]:
ser1.value_counts(bins=5)       # bins make equal intervals # Note the brackets

(67.6, 135.2]     4365
(135.2, 202.8]     375
(-0.339, 67.6]      48
(202.8, 270.4]      11
(270.4, 338.0]       2
Name: runtime, dtype: int64

## Create Pandas series

In [28]:
anime = ["my Hero Academia","Death Note","Sword Art Online","One Punch Man","Domestic Girlfriend","Yuri on Ice"]
genre = ["shounen","shounen","Action Adventure","Action","shounen/shoujo","Sports/jonpasei"]
# import numpy as np
# genre = np.array(["shounen","shounen","Action Adventure","Action","shounen/shoujo","Sports/jonpasei"])   # VALID

# genre = ("shounen","shounen","Action Adventure","Action","shounen/shoujo","Sports/jonpasei")             # VALID

In [29]:
animeSer = pd.Series(anime,name="My anime collection")       # Series --> 'S' capital

In [30]:
animeSer

0       my Hero Academia
1             Death Note
2       Sword Art Online
3          One Punch Man
4    Domestic Girlfriend
5            Yuri on Ice
Name: My anime collection, dtype: object

In [31]:
animeSer2 = pd.Series(genre,index=anime,name="anime genre")
animeSer2

my Hero Academia                shounen
Death Note                      shounen
Sword Art Online       Action Adventure
One Punch Man                    Action
Domestic Girlfriend      shounen/shoujo
Yuri on Ice             Sports/jonpasei
Name: anime genre, dtype: object

### From dictionary

In [32]:
dic = {
        "my Hero Academia"     :               "shounen",
        "Death Note"           :               "shounen",
        "Sword Art Online "    :      "Action Adventure",
        "One Punch Man  "      :                "Action",
        "Domestic Girlfriend " :        "shounen/shoujo",
        "Yuri on Ice"          :      " Sports/jonpasei",
       }

In [33]:
pd.Series(dic,name="anime genre")

my Hero Academia                 shounen
Death Note                       shounen
Sword Art Online        Action Adventure
One Punch Man                     Action
Domestic Girlfriend       shounen/shoujo
Yuri on Ice              Sports/jonpasei
Name: anime genre, dtype: object

In [34]:
movieData0 = pd.read_csv("movies.csv",usecols=["runtime"])
print(type(movieData0))                             # <class 'pandas.core.frame.DataFrame'>
movieData0

<class 'pandas.core.frame.DataFrame'>

      runtime
0       162.0
1       169.0
2       148.0
3       165.0
4       132.0
...       ...
4798     81.0
4799     85.0
4800    120.0
4801     98.0
4802     90.0

[4803 rows x 1 columns]

In [35]:
movieData1 = pd.read_csv("movies.csv",usecols=["runtime"],squeeze=True)    # squeeze makes series
print(type(movieData1))                                                    # <class 'pandas.core.series.Series'>
movieData1

<class 'pandas.core.series.Series'>

0       162.0
1       169.0
2       148.0
3       165.0
4       132.0
        ...
4798     81.0
4799     85.0
4800    120.0
4801     98.0
4802     90.0
Name: runtime, Length: 4803, dtype: float64

## Sort series

In [36]:
dic = {
        1     :      "my Hero Academia",
        2     :            "Death Note",
        3     :     "Sword Art Online ",
        4     :  "Domestic Girlfriend ",
       }

In [37]:
ser11 = pd.Series(dic,name="anime")
ser11                                       ### 1-4 : indices &&  anime names : values

1        my Hero Academia
2              Death Note
3       Sword Art Online
4    Domestic Girlfriend
Name: anime, dtype: object

In [38]:
ser11.sort_index(ascending=False,inplace=True)            # sorts acc. to index # ascending=True (By Defalut)
                                                          # inplace makes changes in original series

In [39]:
ser11

4    Domestic Girlfriend
3       Sword Art Online
2              Death Note
1        my Hero Academia
Name: anime, dtype: object

In [40]:
ser11.sort_values(inplace=True)

In [41]:
ser11

2              Death Note
4    Domestic Girlfriend
3       Sword Art Online
1        my Hero Academia
Name: anime, dtype: object

## nSmallest & nLargest      &&    idexmin & idexmax

In [42]:
dic0 = {
        "my Hero Academia"     :               861,
        "Death Note"           :                49,
        "Sword Art Online"    :               164,
        "One Punch Man"      :               458,
        "Domestic Girlfriend" :               619,
        "Yuri on Ice"          :               446
       }

In [43]:
animeEpi = pd.Series(dic0,name="Episodes")
animeEpi

my Hero Academia       861
Death Note              49
Sword Art Online       164
One Punch Man          458
Domestic Girlfriend    619
Yuri on Ice            446
Name: Episodes, dtype: int64

In [44]:
animeEpi.nsmallest()          # by default its value is 5

Death Note              49
Sword Art Online       164
Yuri on Ice            446
One Punch Man          458
Domestic Girlfriend    619
Name: Episodes, dtype: int64

In [45]:
 animeEpi.nsmallest(3)

Death Note           49
Sword Art Online    164
Yuri on Ice         446
Name: Episodes, dtype: int64

In [46]:
 animeEpi.nlargest(8)    # more than limit ==> Fine

my Hero Academia       861
Domestic Girlfriend    619
One Punch Man          458
Yuri on Ice            446
Sword Art Online       164
Death Note              49
Name: Episodes, dtype: int64

In [47]:
 animeEpi.nsmallest().index[0]

'Death Note'

In [48]:
 animeEpi.nlargest(n=3)

my Hero Academia       861
Domestic Girlfriend    619
One Punch Man          458
Name: Episodes, dtype: int64

In [49]:
 animeEpi.idxmin()      # gives index corresponding to min value

'Death Note'

In [50]:
animeEpi.idxmax()

'my Hero Academia'

### get

In [51]:
dic0 = {
        "my Hero Academia"     :               861,
        "Death Note"           :                49,
        "Sword Art Online"    :               164,
        "One Punch Man"      :               458,
        "Domestic Girlfriend" :               619,
        "Yuri on Ice"          :               446
       }

In [52]:
animeEpi = pd.Series(dic0,name="Episodes")
animeEpi

my Hero Academia       861
Death Note              49
Sword Art Online       164
One Punch Man          458
Domestic Girlfriend    619
Yuri on Ice            446
Name: Episodes, dtype: int64

In [53]:
animeEpi.get("my Hero Academia")

861

In [54]:
 animeEpi.get(key="my Hero",default="not available")

'not available'

In [55]:
animeEpi.get(["Death Note","my Hero Academia"])

Death Note           49
my Hero Academia    861
Name: Episodes, dtype: int64

In [56]:
animeEpi.get(key = ["Death Note","my Hero Academia"])

Death Note           49
my Hero Academia    861
Name: Episodes, dtype: int64

In [57]:
animeEpi.get(key =["Death Note","my Hero Academia        "],default="not available")

'not available'

### Classify

In [58]:
def classify_per(numberofEpisodes):
    if numberofEpisodes<100:
        return "Short"
    elif numberofEpisodes >= 100 and numberofEpisodes < 450:
        return "less than 450"
    else:
        return "Too many"

In [59]:
animeEpi.apply(classify_per)

my Hero Academia            Too many
Death Note                     Short
Sword Art Online       less than 450
One Punch Man               Too many
Domestic Girlfriend         Too many
Yuri on Ice            less than 450
Name: Episodes, dtype: object

In [60]:
animeEpi.apply(lambda numberofEpisodes: numberofEpisodes*1000)

my Hero Academia       861000
Death Note              49000
Sword Art Online       164000
One Punch Man          458000
Domestic Girlfriend    619000
Yuri on Ice            446000
Name: Episodes, dtype: int64

## Series to list conversion

In [61]:
dic = {
        1     :      "my Hero Academia",
        2     :            "Death Note",
        3     :     "Sword Art Online ",
        4     :  "Domestic Girlfriend ",
       }

In [62]:
ser = pd.Series(dic,name="anime")

In [63]:
ser

1        my Hero Academia
2              Death Note
3       Sword Art Online
4    Domestic Girlfriend
Name: anime, dtype: object

In [64]:
ser.to_list()

['my Hero Academia', 'Death Note', 'Sword Art Online ', 'Domestic Girlfriend ']

In [65]:
print(type(ser.values ))
ser.values            # numpy array

<class 'numpy.ndarray'>

array(['my Hero Academia', 'Death Note', 'Sword Art Online ',
       'Domestic Girlfriend '], dtype=object)

## Index Object

In [66]:
movieData11 = pd.read_csv("movies.csv",index_col="original_title").head()# Dataframes
movieData11

,budget,genres,homepage,id,keywords,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
original_title,,,,,,,,,,,,,,,,,,,
Avatar,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
Pirates of the Caribbean: At World's End,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
Spectre,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
The Dark Knight Rises,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
John Carter,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [67]:
# movieData11.reset_index()             # doesn't make changes in oringinal dataframe
movieData11.reset_index(inplace=True)     
movieData11

,original_title,budget,genres,homepage,id,keywords,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,Avatar,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,Pirates of the Caribbean: At World's End,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,Spectre,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,The Dark Knight Rises,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,John Carter,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [68]:
movieData11.set_index("original_title",inplace=True)
movieData11

,budget,genres,homepage,id,keywords,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
original_title,,,,,,,,,,,,,,,,,,,
Avatar,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
Pirates of the Caribbean: At World's End,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
Spectre,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
The Dark Knight Rises,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
John Carter,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [69]:
print(type(movieData11.index))      # <class 'pandas.core.indexes.base.Index'>
movieData11.index

<class 'pandas.core.indexes.base.Index'>

Index(['Avatar', 'Pirates of the Caribbean: At World's End', 'Spectre',
       'The Dark Knight Rises', 'John Carter'],
      dtype='object', name='original_title')

In [70]:
print(type(movieData11.columns))      # <class 'pandas.core.indexes.base.Index'>
movieData11.columns                   # there is no Original_title anymore

<class 'pandas.core.indexes.base.Index'>

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [71]:
movieData11.columns[-3:]

Index(['title', 'vote_average', 'vote_count'], dtype='object')

In [72]:
movieData11.index[3:]

Index(['The Dark Knight Rises', 'John Carter'], dtype='object', name='original_title')

In [73]:
movieData11.index.get_loc("The Dark Knight Rises")    # starts from 0

3

In [74]:
movieData11.columns.get_loc("vote_average")

17

In [75]:
movieData11.index.is_unique         # all indices are unique ??

True

In [76]:
movieData11.columns.is_unique

True

### Dataframe TO CSV

In [77]:
movieData11.to_csv("movie_list.csv")            # create csv file

###  Creating Indax

In [78]:
xyz = pd.Index(['A','B','C'])
xyz

Index(['A', 'B', 'C'], dtype='object')

In [79]:
print(type(xyz))       # <class 'pandas.core.indexes.base.Index'>
xyz.is_unique

<class 'pandas.core.indexes.base.Index'>

True

In [80]:
ser22 = pd.Series([111,222,333],index=xyz)
ser22

A    111
B    222
C    333
dtype: int64